footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
  border-top: 1px solid var(--dark-color);
}

footer .footer {
  margin: auto;
}

footer .footer p {
  margin: 0;
}
