.reskill {
	padding: 16px 0px 32px 16px;
}

.reskill__title {
	margin-bottom: 16px;
	font-size: var(--body-font-size-xl);
}

.reskill__section-top {
	background-color: var(--background-color);
	border: 1px solid var(--border-color);
	border-radius: 16px;
    height: 300px;
	margin-bottom: 16px;
	max-height: 300px;
	padding: 16px;
}

.reskill__section-top-heading {
	font-size: var(--body-font-size-s);
	margin-bottom: 16px;
}

.reskill__section-bottom {
	background-color: var(--background-color);
	border: 1px solid var(--border-color);
	border-radius: 16px;
	padding: 16px;
}

.reskill__section-bottom-heading {
	font-size: var(--body-font-size-s);
	margin-bottom: 16px;
}