.reskill {
	padding: 16px 0px 32px 16px;
}

.reskill__title {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	column-gap: 8px;
}

.reskill__title-main {
	font-size: var(--body-font-size-xl);
	font-weight: bold;
}

.reskill__title-sub {
	font-size: var(--body-font-size-s);
	font-weight: bold;
}

.reskill__title-btn-info {
	border: 3px solid blue;
	color: blue;
    border-radius: 51%;
	font-size: var(--body-font-size-s);
	font-weight: bold;
    width: 20px;
    height: 20px;
    text-align: center;
}

.reskill__section-top {
	background-color: var(--background-color);
	border: 1px solid var(--border-color);
	border-radius: 16px;
    height: 300px;
	margin-bottom: 16px;
	max-height: 300px;
	padding: 16px;
}

.reskill__section-top-heading {
	font-size: var(--body-font-size-s);
	margin-bottom: 16px;
}

.reskill__section-bottom {
	background-color: var(--background-color);
	border: 1px solid var(--border-color);
	border-radius: 16px;
	padding: 16px;
}

.reskill__section-bottom-heading {
	font-size: var(--body-font-size-s);
	margin-bottom: 16px;
}